<h2><%= @circle.name %> circle for <%= link_to current_user.username, user_url(current_user) %></h2>

<h3>Add Friends:</h3>
<form action="<%= friend_circle_url(@circle) %>" method="post">
	<input type="hidden" name="_method" value="put">

	<% @users.try(:each) do |user| %>
		<p>
			<input type="checkbox"
						 name="friend_circle[friend_ids][]"
						 value="<%= user.id %>"
						 id="friend_id_<%= user.id %>"
						 <%= "checked" if @circle.friend_ids.include?(user.id) %>
						 />
	 		<label for="friend_id_<%= user.id %>"><%= user.username %></label>
		</p>
	<% end %>

	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
	<input type="submit" value="Add Friends" />
</form>
