<!DOCTYPE html>
<html>
<head>
  <title>SocialThing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if logged_in? %>
	<p>current_user: <%= current_user.username %></p>
	<p>session_token: <%= session[:session_token] %></p>
	<p><%= link_to "logout", logout_url %></p>
<% else %>
	<p>
		<%= link_to "login", login_url %> |
		<%= link_to "signup", signup_url %>
	</p>
<% end %>

<hr/>

<%= yield %>

</body>
</html>
